<style type="text/css">
    #banner
    {
        text-align: center;
        margin: 20px 0 60px 0;
    }

    #hostbox,#loadbox
    {
        width: 317px;
        margin: 20px auto 0 auto;
        padding: 30px;
        color: #CCC;

        background-color: #222;
        border-radius: 10px;
    }

    #loadbox
    {
        width: auto !important;
        max-width: 50%;
    }

    #hostbox *
    {
        font-size: 18px;
    }

    #loadbox table
    {
        width: 100%;
    }

    #loadbox td
    {
        text-align: center;
    }

    td
    {
        padding: 0 10px;
    }

    input
    {
        background-color: #111;
        width: 225px;
        color: #FAFAFA;
        border: 0;
        border-radius: 5px;
    }

    #cmdConnect, #cmdCancel
    {
        background-color: #333;
        color: #FAFAFA;

        font-size: 16px;
        text-align: center;
        cursor: pointer;

        height: 40px;
        line-height: 40px;
        width: 100%;
        border: 1px solid rgb(73, 73, 73);
        border-radius: 10px;

        margin-top: 20px;
    }

    #cmdCancel
    {
        max-width: 317px;
        margin: 20px auto 0 auto;
    }

    #cmdConnect:active, #cmdCancel:active
    {
        background-color: #FAFAFA !important;
        border: 1px solid #FAFAFA !important;
        color: #333 !important;
    }    

    #connecting_host { color: #FAFAFA; }

    #cmdConnect:hover { color: #AAA !important; }
</style>

<div id="banner">
    Monero Archive Monitor
</div>

<div id="hostbox">
    <table>
        <tr>
            <td>
                Host
            </td>
            <td>
                <input id="txt_ip" type="text" value="" required />
            </td>
        </tr>
        <tr>
            <td>
                Port
            </td>
            <td>
                <input id="txt_port" type="text" value="20001" required />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="noselect">
                <div id="cmdConnect" class="noselect">Connect</div>
            </td>
        </tr>
    </table>        
</div>

<div id="loadbox" style="display:none">
    <table>
        <tr>
            <td colspan="2">
                Connecting
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span id="connecting_host"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="noselect">
                <div id="cmdCancel" class="noselect">Cancel</div>
            </td>
        </tr>
    </table>  
</div>