<style type="text/css">
    #hostbox
    {
        width: 350px;
        margin: 0 auto 0 auto;
        background-color: #222;
        color: #FAFAFA;
        border-radius: 10px;

        font-size: 12px;
        height: 34px;
        line-height: 17px;

        position: absolute;
        top: 10px;
        right: 10px;  
    }

    #data_update_time
    {
        position: absolute;
        left: 5px;
        top: 0;
    }

    #data_update_time_avg
    {
        position: absolute;
        left: 5px;
        bottom: 0;

        color: #BABABA;
    }

    #cmdPing,#cmdLogout
    {
        background-color: #333;
        color: #FAFAFA;
        border: 1px solid rgb(73, 73, 73);
        border-radius: 10px;
        padding: 0 20px;
        cursor: pointer;        

        height: 32px;
        line-height: 32px;
    }

    .pong,#cmdLogout:active
    {
        background-color: #FAFAFA !important;
        border: 1px solid #FAFAFA !important;
        color: #333 !important;
    }

    #cmdPing
    {
        position: absolute;
        right: 88px;
    }

    #cmdLogout
    {
        position: absolute;
        right: 0px;

        width: 45px;
    }

    #cmdPing:hover,#cmdLogout:hover { color: #AAA !important; }
</style>

<div id="hostbox">
    <span id="data_update_time"></span>
    <span id="data_update_time_avg"></span>
    <div id="cmdPing" class="noselect">ping</div>
    <div id="cmdLogout" class="noselect">logout</div>
</div>